# Dependencies
node_modules

# Build output
dist

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build cache
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
.claude
